<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <form action="/" method="POST" enctype="multipart/form-data">
    <h3>Upload profile photo</h3>
    <input type="file" name="sampleFile" accept="image/"/>
    <input type="submit" class ="btn btn-primary">

    <div class ='card'>
        {{#each rows}}
        
        {{#if this.profile_image}}
            <img class="card__image" src="{{this.profile_image}}" alt="User Profile">
        {{else}}
            <img class="card__image" src="/img/default.jpg" alt="User Profile">
        {{/if}}

    
        <h1 class="card title">{{this.name}}</h1>
        <div class = "card__job">{{this.job_title}}</div>
        <p class="card__about">
            {{this.description}}
        </p>
        <button type="button" class="btn btn-primary">View Profile</button>
        {{/each}}



    </div>

</form>
</body>
</html>

